<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/imageslogin/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendorlogin/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendorlogin/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendorlogin/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendorlogin/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendorlogin/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendorlogin/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/csslogin/util.css">
    <link rel="stylesheet" type="text/css" href="/static/csslogin/main.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="/static/vendorlogin/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendorlogin/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendorlogin/bootstrap/js/popper.js"></script>
    <script src="/static/vendorlogin/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendorlogin/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendorlogin/daterangepicker/moment.min.js"></script>
    <script src="/static/vendorlogin/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendorlogin/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/static/jslogin/main.js"></script>
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/static/imageslogin/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="height: 700px;">
            <form class="login100-form validate-form" >
					<span class="login100-form-title p-b-49" style="font-family: Arial, Helvetica, sans-serif">
						Bạn muốn đăng ký tài khoản với tư cách
					</span>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" >
                                <span>
                                    <a href="/dangkynguoimua" style="color:white">
                                        Người mua hàng
                                    </a>
                                </span>
                            </button>
                    </div>
                </div>
                <br>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                <span>
                                    <a href="/dangkynguoiban" style="color:white">
                                       Người bán hàng
                                    </a>
                                </span>
                            </button>

                    </div>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Hoặc đăng ký tài khoản với
						</span>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a  href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>



</body>
</html>